body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header{
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
}
main{
    padding: 20px;
}
.tablaContenido{
    width: 100%;
    overflow-x: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}
th{
    background-color: #4caf50;
    color: white;
}
footer{
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
}
.ventanaLogin{
    width: 50rem;
    background-color: #4caf50;
    color: white;
    display: flex;
    border: 2px;
    border-color: black;
    align-items: center;
    margin-top: 11rem;
    margin-left: 38rem;
    flex-direction: column;
    min-height: 50vh;
    border-radius: 50px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}
input{
    margin-bottom: 10px;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 10px;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: chocolate;
}